{% extends "index.html" %}

{% load static %}
{% block title %}Acerca de mi {% endblock %}
{% block contenidoQueCambia %}

<h2 class="text-black mt-0 mb-0" style="background-color: black;">.</h2>
<h2 class="text-black mt-0 mb-0" style="background-color: black;">.</h2>
<h2 class="text-black mt-0 mb-0" style="background-color: black;">.</h2>

    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">¿De que se trata este proyecto?</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">Hola! Mi nombre es Stéfano Barbati, tengo 19 años y este es mi primer proyecto de programación. Soy estudiante de Ingenieria en Informática en la UNLaM y recientemente terminé mi primer curso de python. Como proyecto final, diseñé una pagina web de reseñas y recomendaciones de restaurantes</p>
                    <a class="btn btn-light btn-xl" href="{% url 'Inicio' %}">Volver</a>
                    <a class="btn btn-success btn-xl" href="{% url 'Reviews' %}">¡Empieza a publicar!</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}